* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", "Helvetica", sans-serif;
    color: #333333;
    letter-spacing: 0.2em;
}
body {
    /*margin: 0;
    padding: 0;*/
}
main{
    background-color: RGB(209,230,212);
}
ul.nav{
    /*margin-right: 5em;*/
}
ul.nav li {
    /*margin-right: 2em;*/
}
.navbar-brand {
    font-variant: small-caps;
}
.rounded {
    border-radius: 25px 25px 25px 25px;
}
#title-row{
    margin-top: 3em;
    background-color: #FFFFFF;
}
#title-name{
    font-size: 7vw;
    font-weight: bold;
    font-variant: small-caps;

}

#title-role{
    font-size: 4vw;
    font-variant: small-caps;
    /*float: right;*/
}
#title-group
{
    margin-top: 3em;
    text-align: center;
}
#headshot img
{
    width: 25%;
    float: left;
    /*display: inline;*/
    /*border-radius: 25px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
}

#about-row{
    background-color: RGB(255,255,206);
}

#portfolio-row{
    background-color: RGB(206,210,217);
}

p {
    text-indent: 2em;
    font-family:"PT-SANS",sans-serif;
    line-height: 2em;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

p::first-letter {
    font-size: 2em;

}
footer{
    background-color: black;
    padding-bottom: 1.5em;
}

footer h1 {
    font-size: 6vh;
    color: RGB(209,230,212);
}

#social-links a{
    display: inline;
}
#social-links span{
    color: RGB(209,230,212);
    transition: color 0.8s, transform 0.8s;
}

#social-links span:hover{
    transform: rotate(360deg);
}

/*
SOCIAL MEDIA COLORS
https://www.lockedowndesign.com/social-media-colors/
*/

#facebook span:hover{
    color: #3b5998;
}
#twitter span:hover{
    color: #00b6f1;
}
#youtube span:hover{
    color: #b31217;
}
#linkedin span:hover{
    color: #007bb6;
}
#github span:hover{
    color: #ffffff;
}
